@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('./fonts/AvenirNextLTPro-Regular.ttf') format('embedded-opentype'), url('./fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'AvenirNextLTPro-Regular';
  margin: 0;
}