.treeNode circle {
    stroke: steelblue;
    stroke-width: 3px;
}

.treeNode text {
    font: 15px sans-serif;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.treeLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}