.areaCard {
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    width: 200px;
    box-shadow: 0 0 5px #005e95;
    border: 3px;
    position: relative;
    display: inline-block;
    text-align: center;
    box-sizing: initial;
}

.areaCard svg {
    shape-rendering: geometricPrecision;
}

.areaCard a {
    text-decoration: none;
}

.successArc {
    fill: #00a300;
}

.failArc {
    fill: #ff3030;
}

.noneArc {
    fill: #a1a1a1;
}

.testListTip {
    font: 15px "AvenirNextLTPro-Regular";
    position: absolute;
    text-align: center;
    background: black;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.16);
    font-weight: bold;
    padding: 8px;
    border-radius: 2px;
    z-index: 2;
}

.testListTip a {
    text-decoration: none;
    color: white;
    line-height: 1.4rem;
}