.contentTitle {
    margin: auto;
    background-image: url(../../image/gallery_banner.jpg);
}

.envirName {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 33px;
    padding: 10px 0px 10px 0px;
}